<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Films</h1>
<ul>
{% for film in object_list %}
    <li>{{ film.title }} - {{ film.description }}-{{film.year}}
        <a href="{% url 'films:delete' pk=film.id %}">Delete</a> 

        <a href="{% url 'films:update' pk=film.id %}">Update</a> 
    </li>
    
{% empty %}
    <li>Films don't exist yet.</li>
{% endfor %}

<a   href="/create">Create</a>
</ul>
</body>
</html>